<!DOCTYPE html>
  <html>
    <head>
    </head>
      <link rel="stylesheet" href="/css/styles.css">
    <body>
      {{>header}}
      <p>I'm {{name}} and I approved this web page</p>
      {{>footer}}
    </body>




  </html>
