<!DOCTYPE html>
  <html>
    <head>
    </head>
      <link rel="stylesheet" href="/css/styles.css">
      <script src="/js/app.js"></script>
    <body>
      <h1>Hi from {{title}}.  I'm {{name}}</h1>
      <img src="/img/kevin.JPG">
    </body>




  </html>
